html {
   height: 100%;
   & body {
      min-height: 100%;
   }
}
body {
   font-family: 'Ubuntu', sans-serif;
   flex-direction: column;
   display: flex;
   & main {
      flex-grow: 1;
   }   
}
