body {
   font-family: 'Ubuntu', sans-serif;
   margin: 0px;
}

header,
footer {
   width: 100%;
   margin-bottom: 20px;
}

footer {
   text-align: center;
   position: fixed;
   bottom: 0px;
}