<div>
	<form method="post">

		<h2>Créer un compte</h2>

		<label for="username">Nom Utilisateur</label> <br>
		<input type="text" id="username" name="username"> <br>

		<label for="email">Email</label> <br>
		<input type="text" id="email" name="email"> <br>

		<label for="password">Mot de passe</label> <br>
		<input type="text" id="password" name="password"> <br>

		<label for="password_confirm">Mot de passe (Confirmation)</label> <br>
		<input type="text" id="password_confirm" name="password_confirm"> <br>

		<input type="submit" value="Signup" name="action">
	</form>

	<form method="post">

		<h2>Identification</h2>

		<label for="email">Email</label> <br>
		<input type="text" id="email" name="email"> <br>

		<label for="password">Mot de passe</label> <br>
		<input type="text" id="password" name="password"> <br>

		<input type="submit" value="Login" name="action"></form>
	</form>
</div>
