<main class="container mt-5">
    <div class="row">
        <!-- Signup Form -->
        <div class="col-md-6 mb-4">
            <form id="form_signup" method="post" class="p-4 border rounded">
                <h2>Créer un compte</h2>

                {% if action == 'Signup'%}
                <div class="alert alert-info">{{message}}</div>
                {% endif %}

                <div class="form-group">
                    <label for="signup_username">Nom Utilisateur</label>
                    <input type="text" id="signup_username" name="username" class="form-control" pattern="^[A-Za-z\d]{5,}$" required>
                </div>

                <div class="form-group">
                    <label for="signup_email">Email</label>
                    <input type="email" id="signup_email" name="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="signup_password">Mot de passe</label>
                    <input type="password" id="signup_password" name="password" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$" required>
                </div>

                <div class="form-group">
                    <label for="signup_password_confirm">Mot de passe (Confirmation)</label>
                    <input type="password" id="signup_password_confirm" name="password_confirm" class="form-control" required>
                    <small id="signup_password_confirm_err" class="form-text text-muted"></small>
                </div>

                <button id="signup_submit" type="submit" class="btn btn-primary btn-block" name="action" value="Signup">Signup</button>
            </form>
        </div>

        <!-- Login Form -->
        <div class="col-md-6 mb-4">
            <form id="form_login" method="post" class="p-4 border rounded">
                <h2>Identification</h2>

                {% if action == 'Login'%}
                <div class="alert alert-info">{{message}}</div>
                {% endif %}

                <div class="form-group">
                    <label for="login_email">Email</label>
                    <input type="email" id="login_email" name="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="login_password">Mot de passe</label>
                    <input type="password" id="login_password" name="password" class="form-control" required>
                </div>

                <button id="login_submit" type="submit" class="btn btn-primary btn-block" name="action" value="Login">Login</button>
            </form>
        </div>
    </div>
</main>

<script>
const signup_password = document.querySelector('#signup_password');
const signup_password_confirm = document.querySelector('#signup_password_confirm');
const signup_password_confirm_err = document.querySelector('#signup_password_confirm_err');

signup_password_confirm.addEventListener('input', (event) => {
    const mdp1 = signup_password.value;
    const mdp2 = signup_password_confirm.value;

    if (mdp1 !== mdp2) {
        signup_password_confirm_err.textContent = "Les mots de passe ne concordent pas"
    } else {
        signup_password_confirm_err.textContent = "";
    }
})
</script>