<div class="container">
	<h1>Ajouter un Film</h1>
	{% if message is not empty %}
	<p>{{ message }}</p>
	{% endif %}
	<form method="post">
		<div class="film">
			<div>
				<label for="titre"><b>Titre</b></label>
				<input type="text" placeholder="Entrez le titre" name="titre" required>
				<label for="annee"><b>Année</b></label>
				<input type="text" placeholder="Entrez l'année" name="annee" required>

			</div>
			<div>
				<label for="affiche"><b>Affiche</b></label>
				<input type="text" placeholder="Entrez l'affiche" name="affiche" required>
			</div>
			<div>
				<label for="realisateur"><b>Réalisateur</b></label>
				<input type="text" placeholder="Entrez le réalisateur" name="realisateur" required>
			</div>

		</div>
		<div>
			<p>Rôle(s):
				<button type="button" id="add-role">Ajouter</button>
			</p>
			<div id="roles">
				<div>
					<input type="text" id="personnage_0" name="personnage[]" placeholder="Personnage" required>
					<input type="text" id="acteur_nom_0" name="acteur_nom[]" placeholder="Nom" required>
					<input type="text" id="acteur_prenom_0" name="acteur_prenom[]" placeholder="Prénom" required>
				</div>
				<div>
					<input type="text" id="personnage_1" name="personnage[]" placeholder="Personnage" required>
					<input type="text" id="acteur_nom_1" name="acteur_nom[]" placeholder="Nom" required>
					<input type="text" id="acteur_prenom_1" name="acteur_prenom[]" placeholder="Prénom" required>
				</div>
			</div>
		</div>
		<div>
			<input type="submit" value="Créer">
		</div>
	</form>
</div>
