<main>
        <div>
                <h2>Ceci est une page d'erreur {{erreur}}</h2>
                <p> Veuillez retourner à la <a href='home'><b><u>page d'accueil</u></b></a></h3>
        </div>
</main>

<style>
        main {
                display: flex; 
                align-items:center; 
                justify-content: center;
        }
</style>

