<hr>
<footer class="bg-dark text-white py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="mb-2">Projet professionnel AFPA.</p>
				<p class="mb-2">
					Réalisé par
					<a href="https://github.com/eselene">Elna</a>
					<a href="https://github.com/VaneKaista">Mickael</a>
					<a href="https://github.com/cap3ya">Yan</a>
				</p>
			</div>
			<div class="col-md-6 text-md-right">
				<p class="mb-0">© 2024  Médiathèque. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer></body></html>
