		<hr>
		<footer>
			<p>Projet professionnel AFPA réalisé par</p>
			<a href="https://github.com/eselene">Elna</a>
			<a href="https://github.com/VaneKaista">Mickael</a>
			<a href="https://github.com/cap3ya">Yan</a>
		</footer>
	</body>
</html>