<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="view/web/css/style.css" media="screen"/>
		<link rel="shortcut icon" href="view/web/img/favicon.ico"/>
		<title>Médiathèque</title>
	</head>
	<body>
		<header style="display:flex; flex-direction:row; align-items:center;">

			<img src="./view/web/img/popcorn.svg" alt="popcorn logo" height="30" width="30">
			<h1>Médiathèque</h1>
			<a href="/">
				<button>Accueil</button>
			</a>
			{% if session.user is defined %}
				<a href="creer">
					<button>Création</button>
				</a>
				<form method='post'>
					<input type="submit" name='action' value='logout'>
				</form>
			{% else %}
				<a href="compte">
					<button>Compte</button>
				</a>
			{% endif %}

			<form method="post">
				<input type='text' name="search" placeholder="Rechercher un film">
				<input type="submit" name='action' value="search">
			</form>
		</header>
		{% if session.user is defined %}
			<p>Bienvenue sur note Médiathèque {{session.user}}</p>
		{% else %}
			<a href="compte">Connectez vous pour créer des films</a>
		{% endif %}
		<hr>

